@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
$inactive: #C8D9FB;
$active: #527CCD;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  color: $inactive;
  background: #FFF;
  padding: 20px;
  height: 100vh;
  width: 100vw;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 1160px;
  width: 100%;
  height: 100%;

  ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
  }
}

.title {
  max-width: 580px;
  color: $active;
  line-height: 50px;

  h1 {
    color: $active;
    font-weight: 700;
    font-size: 40px;
  }
}

.news-wrapper {
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  max-width: 1160px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  overflow-x: scroll;
  user-select: none;
 // transform: translateX(-100px);
  gap: 10px;

}

.news-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 280px;
  max-height: 420px;
  padding: 20px;
  //transform: translateX(-10%);
  border: 1px solid $inactive;
  gap: 10px;

  img {
    width: 240px;
    height: 160px;
  }
}

.date-content,
.description-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}

.title-text {
  color: $active;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.description-text {
  color: $active;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  min-width: 280px;
}
.scrollbar {
  height: 1px;
  background: $inactive;
  min-width: 130px;
  max-width: 360px;
  flex-grow: 1;
}

.thumb {
  width: 25%;
  height: 100%;
  background: $active;
}

.button {
  height: 55px;
  width: 55px;
  .btn-next,
  .btn-prev {
    height: 100%;
    width: 100%;
  background: #FFF;
    border: 1px solid $inactive;
  }
  :hover {
    background: $inactive;
  }
}

.active {
  border-color: #527CCD;
}

@media all and (min-width: 640px) {

  .slider-wrapper {
    max-height: 520px;;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .title {
    order: 1;
    width: 50%;
  }
  .news-wrapper {
    order: 5;
  }
  .navigation {
    order: 2;
    padding-left: 10px;
    width: 50%;
  }
  .scrollbar {
    order: 2;
  }
  .button {
    width: 60px;
    height: 60px;
  }
  .next {order: 4;}
  .prev {order: 3;}
}
