@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
$inactive: #C8D9FB;
$active: #527CCD;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto';
  color: $inactive;
  background: #FFF;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: $active;
  font-weight: 700;
}

.news-wrapper {
  max-width: 1160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 280px;
}
.scrollbar {
  height: 1px;
  background: $inactive;
  min-width: 130px;
  max-width: 360px;
}

.thumb {
  width: 25%;
  background: $active;
}

.button {
  height: 55px;
  width: 55px;
}



